{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    {% for article_items in articles %}
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{article_items.urlToImage}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>{{ article_items.title }}</h3>
            <hr>
            <p>{{article_items.description}}</p>
            <hr>
            <p>{{article_items.content}}</p>
            <div class="animated fadeInUp details">
                {%if article_items.author%}
                <p class="font-weight-normal">by {{article_items.author}}</a>.
                </p>
                {%endif%} {%if article_items.publishedAt%}
                <p>Posted on: {{article_items.publishedAt[:10]}}</p>
                {%endif%}

                <p><a href="{{ article_items.url }}">Go to full story</a></p>


            </div>
        </div>
    </div>
    {% endfor%}

</div>
{% endblock %}